
#register_div{
	display: none;
}

#admin_register_div{
	display: none;
}

#verifyLogin{
	display: none;
}


#view_staff_div{
	display: none;
}

#view_single_requests_div{
	display: none;
}

#leave_pending_div{
	display: none;
}

  /* Set black background color, white text and some padding */
    footer {
      background-color: green;
      color: white;
      padding: 15px;
    }









